:root {
    --purple: #6544f4;
    --site-width: 1200px;
    --small-screen: 600px;
    --nav-height: 60px;
}

html {
    /* Learn about box-sizing at https://css-tricks.com/box-sizing/ */
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, sans-serif;
}

html {
    position: relative;
    font-size: 14px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 3 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
}

a {
    position: relative;
    text-decoration: none;
    transition: color .3s;
}

h1,
h2,
h3,
h4,
h5 {
    position: relative;
    line-height: 1.1em;
}

p {
    line-height: 1.3em;
    font-weight: 400;
    color: #666;
}

h2 {
    font-size: 1.5em;
    font-weight: 800;
}

h3 {
    font-size: 1.3em;
    font-weight: 600;
}

img {
    max-width: 100%;
}

section,
header {
    position: relative;
}

/* Layout */

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.content {
    position: relative;
    display: grid;
}

.wide {
    position: relative;
    padding: 2em 1em;
}

.wide.gray {
    background: #eee;
}

.standard--sidebar {
    display: grid;
    grid-gap: 1em;
    position: relative;
    padding: 2em 1em;
}

/* Navigation */

nav.menu {
    background: #000;
    position: relative;
    display: grid;
    grid-template-areas: "nav";
    grid-template-columns: 1fr;
    z-index: 1000;
}

.nav-wrapper {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--nav-height) 40px;
    grid-template-areas: "logo" "menu";
}

.logo {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -.1em;
    display: grid;
    grid-column: span 2;
    justify-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    display: grid;
    align-content: center;
}

#menu-list {
    background: var(--purple);
    display: grid;
    grid-auto-flow: column;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
}

#menu-list a {
    color: #fff;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 0 .2em;
    text-decoration: none;
    transition: all .3s ease-in;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
}

#menu-list a:hover {
    background: #5136c7
}

.material-icons {
    padding-top: .1em;
}

/* Hero */

.hero {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 250px;
    height: 40vh;
    overflow: hidden;
}

.hero-content {
    position: relative;
    grid-column: 1 / -1;
    grid-row: span 1 / -1;
    z-index: 2;
    padding: 1em;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.hero-content h2 {
    position: relative;
    color: #fff;
    font-size: 2em;
    text-shadow: 0 0 10px rgba(0, 0, 0, .7);
    transition: all .3s ease-out;
}

.hero img {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 1 /-1;
    transition: all .3s ease-out;
}

.hero:hover h2 {
    transform: translateY(-.3em);
}

.hero:hover img {
    transform: scale(1.1);
}

/* Featured */

.features {
    position: relative;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

.feature {
    position: relative;
    display: grid;
    grid-template-rows: 25vw auto;
}

a.feature {
    position: relative;
    color: #111;
}

a.feature:hover {
    color: var(--purple);
}

.feature-content {
    position: relative;
    z-index: 2;
}

.feature h3 {
    position: relative;
}

.feature img {
    position: relative;
}

/* Posts and Upcoming */

.posts {
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.post {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

a.post {
    position: relative;
    color: #111;
    font-weight: 700;
}

a.post:hover {
    color: var(--purple);
}

.post h4 {
    margin-bottom: .5em;
}

.post p {
    margin-bottom: .3em;
}

.post span {
    color: #888;
    font-size: .8em;
    font-weight: 400;
}

.post img {
    height: 150px;
}

.upcoming {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto repeat(10, minmax(80px, auto));
}

.upcoming h2 {
    grid-column: 1 / -1;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1em;
}

.rating {
    position: relative;
    font-size: 1em;
    letter-spacing: -.1em;
    font-weight: 800;
    padding-right: .5em;
    color: var(--purple);
    align-self: center;
    justify-self: center;
}

.game {
    position: relative;
    display: grid;
    overflow: hidden;
}

.game img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-info {
    position: relative;
    display: grid;
}

a.game-info:hover .game-content {
    background: linear-gradient(to right, #6544f4, #6444f42f);
}

.game-content {
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .2));
    display: grid;
    align-content: center;
    padding: 1em;
}

.game-content h2 {
    position: relative;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    text-shadow: 0 0 4px rgba(0, 0, 0, .7);
    margin-bottom: .2em;
}

.game-content span {
    position: relative;
    color: #eee;
    font-weight: 400;
    font-size: .8em;
    letter-spacing: 0;
    justify-self: start;
}

/* Footer */

footer {
    background: #222;
    color: #fff;
}

.footer-content {
    display: grid;
    grid-gap: 1em;
}

.copyright {
    grid-column: 1 / -1;
    font-size: .9em;
    margin-top: 1em;
}

/* Object fit images */

.fit-me {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
}

@media screen and (min-width: 600px) {

    /* Layout */

    .content {
        margin-top: var(--nav-height);
        grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    }

    .wide {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    }

    .standard,
    .standard--sidebar {
        position: relative;
        grid-column: 2 / 3;
    }
    
    .wide-content {
        grid-column: 2 / 3;
    }

    /* Navigation */

    nav.menu {
        position: fixed;
        width: 100%;
        height: var(--nav-height);
        grid-template-areas: " . nav . ";
        grid-template-columns: 1fr minmax(auto, var(--site-width)) 1fr;
        justify-items: space-between;
    }

    .nav-wrapper {
        grid-area: nav;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: var(--nav-height);
        grid-template-areas: "logo menu";
        justify-content: space-between;
    }

    .logo {
        grid-area: logo;
        justify-items: start;
    }

    #menu-list {
        grid-area: menu;
    }

    #menu-list a {
        padding: 0 1.25em;
    }

    /* Hero */
    .hero {
        height: 70vh;
    }

    /* Posts */

    .post {
        grid-template-columns: 250px 1fr;
    }

    /* Footer */

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {

    /* Layout */

    .standard--sidebar {
        display: grid;
        grid-gap: .5em;
        grid-template-columns: 3fr 1.5fr;
        align-items: start;
    }

    /* Featured */

    .features {
        grid-template-columns: repeat(4, 1fr);
    }

    .feature {
        overflow: hidden;
        grid-template-rows: 18vw auto;
    }

    .feature img {
        grid-column: 1 / -1;
        grid-row: 1 /-1;
        transition: all .3s ease-out;
    }

    .feature-content {
        grid-column: 1 / -1;
        grid-row: span 1 / -1;
        z-index: 2;
        padding: 1em;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        display: grid;
        align-content: end;
    }

    .feature-content h3 {
        color: #fff;
        text-shadow: 0 0 10px rgba(0, 0, 0, .7);
        transition: all .3s ease-out;
    }

    .feature:hover h3 {
        transform: translateY(-.3em);
    }

    .feature:hover img {
        transform: scale(1.1);
    }

    /* Posts */

    .posts {
        padding-right: 1em;
    }

    .post:last-child {
        border-bottom: none;
    }

    /* Footer */

    .footer-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {

    /* Featured */

    .feature {
        grid-template-rows: 300px auto;
    }
    
}